@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #171717;
  --surface: #262626;
  --border: #2F2F2F;
}

html, body, #root {
  height: 100%;
}

* {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
    scroll-behavior: auto !important;
  }
}
